[class*='col-'] {
    float: left;
}

[class*='row-'] {
    float: top;
}

[class*='start-'] {

    float: top;
    width: 70%;
    height: 70%;
    margin-top: 15%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15%;
}

.textPlayer {
    text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
    padding-left: 0.1cm;
    font-weight: bold;
}

.border {
    box-sizing: border-box;
    border: 1px solid black;
}

.noBorder {
    box-sizing: border-box;
    border: 0px solid black;
}

.col-6-15 {
    width: 40.00%;
}

.col-3-15 {
    width: 20.00%;
}

.col-1-6 {
    width: 16.666%;
}

.col-1-3 {
    width: 33.333%;
}

.col-1-5 {
    width: 20.00%;
}

.col-4-5 {
    width: 80.00%
}

.col-2-5 {
    width: 40.00%;
}

.row-6-15 {
    height: 40.00%;
}

.row-3-15 {
    height: 20.00%;
}

.row-1-6 {
    height: 16.666%;
}

.row-1-3 {
    height: 33.333%;
}

.row-1-5 {
    height: 20.00%;
}

.row-2-5 {
    height: 40.00%;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.pink {
    background-color: pink;
}

.orange {
    background-color: orange;
}

.violet {
    background-color: violet;
}

.cyan {
    background-color: cyan;
}

.white {
    background-color: white;
}

.possiblePos {
    -webkit-animation: ANIMATION-POSIBLE 1s infinite; /* Safari 4+ */
    -moz-animation: ANIMATION-POSIBLE 1s infinite; /* Fx 5+ */
    -o-animation: ANIMATION-POSIBLE 1s infinite; /* Opera 12+ */
    animation: ANIMATION-POSIBLE 1s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes ANIMATION-POSIBLE {
    0%, 49% {
    }
    50%, 100% {
        background-color: #ffcc99;
    }
}

.possiblePosNext {
    -webkit-animation: ANIMATION-POSIBLE-NEXT 1s infinite; /* Safari 4+ */
    -moz-animation: ANIMATION-POSIBLE-NEXT 1s infinite; /* Fx 5+ */
    -o-animation: ANIMATION-POSIBLE-NEXT 1s infinite; /* Opera 12+ */
    animation: ANIMATION-POSIBLE-NEXT 1s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes ANIMATION-POSIBLE-NEXT {
    0%, 49% {
    }
    50%, 100% {
        background-color: #d142f4;
    }
}

.grid {
    /* width: 78.5vw; */
    /* height: 78.5vw; */
    /*margin: 10% 10% 10% 10%; */
    margin-right: 0px;
}

.board {
    background: #000;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.contain-over {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.finalPos {
    width: 33.333%;
    height: 33.333%;
}

.lobby-box {
    padding: 1% 5% 0% 5%;
}

body {
    font-size: 160%;
    overflow-x: hidden;
}

@media only screen and (max-width: 1000px) {
    body {
        font-size: 150%;
    }
}

.container-triangle {
    position: relative;
}

#chatLog {
    padding: 0;
    margin: 0;
    overflow: auto;
    max-height: 120px;
    min-height: 20px;
}

#leaveGame {
    float: right;
    overflow: hide;
}

#logoutBtn {
    float: right;
}

.chatMessage {
    word-wrap: break-word;
}

.title {
    margin: auto;
    text-align: center;
    font-size: 105px;
    font-weight: bold;
}

.nicknameError {
    margin-top: 10px;
}

[class*='title-'] {
    display: inline-block;
    margin: 0;
    -webkit-text-stroke-width: 2.2px;
    -webkit-text-stroke-color: black;
}

.title-blue {
    color: blue;
}

.title-red {
    color: red;
}

.title-green {
    color: green;
}

.title-yellow {
    color: yellow;
}